Text {
    color: rgb(240, 244, 248);
    font-size: 15px;
        font-weight: bold;
        transition: 0.5s;
    }
    
    body{
        background-color: rgb(169, 220, 238);  
  }
    nav{
        height:1200px;
        width:220px;
        float:left;
        padding: 5px;
        line-height:30px;
        }
        style
    a:link {
      color: rgb(17, 53, 73);
      background-color: transparent;
      text-decoration: none;
    }
    
    a:visited {
      color: rgb(39, 92, 189);
      background-color: transparent;
      text-decoration: none;
    }
    
    a:hover {
      color: rgb(124, 7, 178);
      background-color: transparent;
      text-decoration: underline;
    }
    
    header{
        text-align: center;
    }
    
    footer{
    text-align: center;
    margin-right: 200px;
    }
    img {
      max-width: 50%;
      height: auto;
      margin-right:160px;
    }
   img{
   text-align:left ;
   }